.app {
  background: white;
  padding: 30px;
  height: 100vh;
  align-items: center;
}

.todo-list {
  background: grey;
  border-radius: 4px;
  padding: 5px;
  max-width: 500px;
  position: relative;

}

.head{
  align-items: center;
  margin-left: 200px;
}
.todo {
  background: white;
  padding: 3px 10px;
  font-size: 20px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  height: 40px ;  
  align-items: center;
  min-width: 200px;
}
.button{
  margin-left: 40px;
  
}

.modulebutton{
  margin-top : 100px;
  margin-left: 150px;
  
}

.addButton{
  margin-top : 20px;
  margin-left: 200px;
}